@media (min-width: 1280px) {

  .preview {
    padding: 67px 0;
    margin-bottom: 119px;

    &--title {
      max-width: 527px;
      margin-bottom: 58px;
    }

    &__content {
      padding-top: 76px;
      padding-bottom: 27px;
      &::after {
        height: 100%;
      }
    }

    &__description {
      margin-bottom: 0;
    }

    &__body {
      margin-bottom: 0;
    }

    &__text {
    }

    &__more {
      display: none;
    }

    &__visualization {
      position: absolute;
      top: -177px;
      left: calc(50% + 125px);
      width: calc(50% - 105px);
      margin-left: -20px;
      overflow-x: hidden;
    }

    &__picture {
      max-height: 480px;
      height: 480px;
    }

    &__image {
      max-height: 480px;
      height: 480px;
    }
  }
}