@media (min-width: 1280px) {
  .map {

    &--title {
      
    }

    &__body {
      display: flex;
    }

		&__info {
      flex-shrink: 0;
      margin-right: 90px;
		}

		&__response {
      // flex-wrap: nowrap;
      flex-direction: column;
		}

		&__link {
      align-self: flex-start;
		}

		&__title {
		}

		&__value {
		}

		&__interactive {
		}
  }
}