@import '../../../styles/color.scss';

.map {
  margin-bottom: 30px;

  &--title  {
    margin-bottom: 30px;
  }

  &__info {
  }

  &__response {
    margin: 0 -5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__link {
    margin: 0 5px;
    padding: 0px 21px;
    height: 30px;
    border: 1px solid $border;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
    overflow: hidden;
  }

  &__title {
    font-size: 11px;
    line-height: 36px;
    margin-right: 4px;
    color: $dark_grey;
    text-transform: uppercase;
    letter-spacing: .2px;
  }

  &__value {
    color: $medium_dark_red;
    font-size: 11px;
    line-height: 26px;
    font-weight: 700;
  }

  &__interactive {
    margin-left: -15px;
    width: calc(100% + 30px);
    min-height: 446px;
    background: #ccc;
  }
}


/* Стили для маркеров */
// [class*=copyrights-pane] {
//   display: none !important;
// }

// [class*=placemark-overlay] {
//   // display: none !important;
//   position: relative;
//   &::before {
//     content: "";
//     position: absolute;
//     top:0;
//     left:0;
//     display: block;
//     width: 40px;
//     height: 40px;
//     background: $border;
//   }
// }