$white: #fff;
$shadow: #31353A;
$darkGreyMain: #333;
$lightBlue: #f4f5f5;
$darkGrey: #303030;
$grey: #777;
$lightRed: #C79791;
$mediumDarkGrey: #484848;
$mediumLightRed: #C79791;
$mediumDarkRed: #7A1B1B;
$darkBlueBlue: #08131F;
$shadow: rgba(0, 0, 0, 0.25);
$border: rgba(122, 27, 27, .3);

// transition time
$time: .3s;


// hover or active
$borderHoverOrActive: rgba(122, 27, 27);
$mediumDarkRedActive: #7a1b1b61;
