$white: #fff;
$shadow: #31353A;
$dark_grey_main: #333;
$light_blue: #f4f5f5;
$dark_grey: #303030;
$grey: #777;
$light_red: #C79791;
$medium_dark_grey: #484848;
$medium_light_red: #C79791;
$medium_dark_red: #7A1B1B;
$dark_blue_blue: #08131F;
$shadow: rgba(0, 0, 0, 0.25);
$border: rgba(122, 27, 27, .3);

// transition time
$time: .3s;


// hover or active
$borderHoverOrActive: rgba(122, 27, 27);
$mediumDarkRedActive: #7a1b1b61;
