@import '../../../styles/color.scss';


.journal {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;

  &__item {
    background: $light_red;
    overflow: hidden;
    margin: 0 7px;
    margin-bottom: 14px;
    width: calc(100% / 2 - 14px);
    max-width: 236px;
    min-height: 180px;

    &--bg {
      background: $medium_dark_grey;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__picture {
    display: block;
    line-height: 0;
    height: 50%;
    width: 100%;
    pointer-events: none;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__text {
    height: 50%;
    color: $white;
    text-align: center;
    line-height: 20px;
    margin-top: -6px;
    max-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

