@import '../../../styles/color.scss';

.feature {
  padding-bottom: 50px;

  &--title  {
    font-size: 32px;
    margin-bottom: 6px;
  }

  &__subtitle {
    font-family: 'Baron Neue';
    font-size: 20px;
    line-height: 30px;
    color: $darkGrey;
    margin-bottom: 65px;
  }
}