
@media (min-width: 768px) {

  .feature {

    &--title  {
      font-size: 36px;
      color: $darkBlueBlue;
      margin-bottom: 5px;
    }

    &__subtitle {
      font-size: 22px;
      color: $darkBlueBlue;
      margin-bottom: 110px;
    }
  }
}

