@media (min-width: 1280px) {

  .map {
    margin-bottom: 84px;

    &--title {
      margin-bottom: 37px;
    }

    &__body {
      display: flex;
    }

		&__info {
      flex-shrink: 0;
      margin-right: 90px;
		}

		&__response {
      flex-direction: column;
      margin-bottom: 0;
		}

		&__link {
      align-self: flex-start;
      margin-bottom: 16px;

      &:hover {
        border-color: $borderHoverOrActive;
      }
		}

		&__title {
      font-size: 11px;
		}
  }
}